SYNAPSE_TEST_DRIVER=ODBC Driver 18 for SQL Server
SYNAPSE_TEST_HOST=pvenkat-test-ws.sql.azuresynapse.net
SYNAPSE_TEST_USER=
SYNAPSE_TEST_PASS=
SYNAPSE_TEST_PORT=1433
SYNAPSE_TEST_DWH_NAME=testsqlpool
DBT_TEST_USER_1=DBT_TEST_USER_1
DBT_TEST_USER_2=DBT_TEST_USER_2
DBT_TEST_USER_3=DBT_TEST_USER_3
DBT_TEST_AAD_PRINCIPAL_1=DBT_TEST_AAD_PRINCIPAL_1
DBT_TEST_AAD_PRINCIPAL_2=DBT_TEST_AAD_PRINCIPAL_2
